body{
  font-family: Arial, Helvetica, sans-serif;
}
.header{  
  background-color: rgba(255, 144, 14, 0.1);
  padding-bottom: 50px;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}
.nav-title a{
  text-decoration: none;
  color: black;
}
.nav-pages{
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav-pages a{
  text-decoration: none;
  margin-left: 40px;
  color: black;

}
/* Banner Style */
.banner-title{
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
.banner-title h1{
  font-weight: 700;
  font-size: 50px;
}
.banner-title p{
  width: 620px;
  margin: auto;

}
.banner-title button{
  width: 180px;
  height: 64px;
  background-color: #FF900E;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.banner-title button:hover{
  cursor: pointer;

}
.banner-image{
  max-width: 1000px;
  margin: auto;
}
.banner-image img{
  width: 100%;
}
/* Feature */
.quick-feature{
  display: flex;
  margin: auto;
  max-width: 1000px;
  padding: 50px 200px 50px;
  justify-content: space-around;

}
.team-image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

}
.team-image img{
      width: 100%;
}
.team-text{
  width: 50%;
  margin-left: 25px;
  padding: 15% 0;
  
}
.team-text p{
  color: #727272;
}
.team-text button{
  width: 180px;
  height: 64px;
  background-color: #FF900E;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.team-text button:hover{
  cursor: pointer;
}
.team-text-h2{
    font-size: 30px;
    font-weight: 400;
      color: #727272;
}
/* Feature Detailes */
.feature-detailes{
  max-width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}
.feature-text-and-image{
  display: flex;
  
}
.f-image{
  width: 50%;

}
.f-image img{
  width: 100%;
}
.feature-text{
  width: 50%;
  padding-right: 70px;
}
.feature-text p{
  color: #727272;
  margin: 0;
}

.text-explantion{
  margin: 15px;
  border-radius: 5px;
  padding: 5px 10px 5px;
  box-shadow: 2px 3px 8px #888888;
  
}
.text-explantion h4{
  margin: 0 0 7px;
}
.explanation-title h2{
  padding-left: 15px;
  border-left: 5px solid #FF900E;
}
.f-image button{
  width: 180px;
  height: 100px;
  background-color: #FF900E;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: 700;
  position: relative;
  bottom: 50px;
  right: 50px;
}
.button-font{
  font-size: 25px;}

.f-image button:hover{
  cursor: pointer;
  transform: scale(120%);

}
.some-facts{
  max-width: 1000px;
  margin: auto;
}
.facts-detailes{
  box-sizing: border-box;
  width: 141.83px;
  height: 141.83px;
  border: 1px solid #FF900E;
  border-radius: 8px;
  text-align: center;
  padding-top: 30px;
  position: relative;
  transition: transform 1s linear;

  }
.facts-detailes:hover{
  transform: scale(150%);
}
  .facts-detailes h4{
    margin: 5px 0 2px;
  }
  .facts-detailes p{
    margin: 2px 0 2px;
  }
  .facts-detailes img{
    height: 30px;
    width: 30px;
  }
  .facts{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .sponsors{
    max-width: 1000px;
    margin: auto;
  }
  .sponsor-text{
    text-align: center;
    margin-bottom: 50px;
  }
  .sponsor-image{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
  }
  .sponsor-image-icon img{
    width: 80%;
    filter: grayscale(100%);
  }
  .unique{
    background-color:rgb(88, 104, 252);
    text-align: left;
    padding: 40px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    color:white;
  }
  .unique button{
    width: 180px;
    height: 60px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 30px;
  }
  footer{
    max-width: 1000px;
    margin: auto;
  }
  footer p{
    background-color: #FFF4E7;
    text-align: center;
    padding: 15px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-bottom: 50px;
  }
  /* Responsiveness */
  @media only screen and (max-width:576px) {
    .nav-bar{
      display: flex;
      justify-content: space-between;
      margin: 20px 20px;
      padding-bottom: 50px;
      flex-direction: column;
      text-align: center;

    }
    .nav-pages{
      display: flex;
      align-items: center;
      list-style-type: none;
      flex-direction: column;
    }
    .nav-pages a{
      margin: 0;
      text-decoration: none;
      color: black;
    
    }
    .banner-title{
      margin: 0 20px 20px;
      text-align: center;
      padding-bottom: 20px;
    }
    .banner-title h1{
      font-weight: 700;
      font-size: 28px;
    }
    .banner-title p{
      margin: auto;
      max-width: 300px;
    
    }
    .banner-title button{
      width: 180px;
      height: 64px;
      background-color: #FF900E;
      border-radius: 8px;
      border: none;
      color: white;
      font-size: 20px;
      font-weight: 700;
    }
    .banner-title button:hover{
      cursor: pointer;
    
    }
    .banner-image{
      margin-bottom: 5px;


    }
    .banner-image img{
      width: 80%;
      margin: auto;
      text-align: center;
      padding: 0 10% 0;
    }



.quick-feature{
  display: flex;
  flex-direction: column-reverse;
  margin: 20px 20px;
}
.team-text{
  width: 400px;
  margin: 0;
}
.team-image{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0;

}






  .feature-detailes{
    margin: 20px 20px;
  }
  .feature-text-and-image{
    display: flex;
    flex-direction: column;
    
  }
  .f-image{
    width: 100%;
  
  }
  .f-image img{
    width: 95%;
    padding: 0 2.5% 0 ;
  }
  .feature-text{
    width: 100%;
    padding:8px;
  }
  .feature-text p{
    color: #727272;
    margin: 0;
  }
  
  .text-explantion{
    margin: 15px;
    border-radius: 5px;
    padding: 5px 10px 5px;
    box-shadow: 2px 3px 8px #888888;
    
  }
  .text-explantion h4{
    margin: 0 0 7px;
  }
  .explanation-title h2{
    padding-left: 15px;
    border-left: 5px solid #FF900E;
  }
  .f-image button{
    width: 100px;
    height: 70px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 700;
    position: relative;
    bottom: 50px;
    left: 50px;
  }
  .button-font{
    font-size: 16px;}
  .f-image button:hover{
    cursor: pointer;
    transform: scale(120%);
  
  }
  .facts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .facts-detailes{
    margin-bottom: 10px;
    }
    .some-facts{
      margin: 20px 20px;
    }
    .sponsors{
      margin: 20px 20px;
    }

    .sponsor-image{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      justify-content: space-between;
    }
    .sponsor-image-icon img{
      max-width: 90%;
      padding: 0 5% 0;
    }
    .sponsor-image-icon{
      margin-bottom: 20px;

    }
    footer{
      margin-bottom: 500px;
    }
  }