.header{  
  background-color: rgba(255, 144, 14, 0.1);
  padding-bottom: 50px;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}
.nav-title a{
  text-decoration: none;
  color: black;
}
.nav-pages{
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav-pages a{
  text-decoration: none;
  margin-left: 40px;
  color: black;

}
/* Banner Style */
.banner-title{
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
.banner-title h1{
  font-weight: 700;
  font-size: 50px;
}
.banner-title p{
  width: 620px;
  margin: auto;

}
.banner-title button{
  width: 180px;
  height: 64px;
  background-color: #FF900E;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.banner-title button:hover{
  cursor: pointer;

}
.banner-image{
  max-width: 1000px;
  margin: auto;
}
.banner-image img{
  width: 100%;
}
/* Feature */
.quick-feature{
  display: flex;
  margin: auto;
  max-width: 1000px;
  padding: 50px 200px 50px;
  justify-content: space-around;

}
.team-image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

}
.team-image img{
      width: 100%;
}
.team-text{
  width: 50%;
  margin-left: 25px;
  padding: 15% 0;
  
}
.team-text p{
  color: #727272;
}
.team-text button{
  width: 180px;
  height: 64px;
  background-color: #FF900E;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.team-text button:hover{
  cursor: pointer;
}
/* Feature Detailes */
.feature-detailes{
  max-width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}
.feature-text-and-image{
  display: flex;
  
}
.f-image{
  width: 50%;

}
.f-image img{
  width: 100%;
}
.feature-text{
  width: 50%;
  padding-right: 70px;
}
.feature-text p{
  color: #727272;
  margin: 0;
}

.text-explantion{
  margin: 15px;
  border-radius: 5px;
  padding: 5px 10px 5px;
  box-shadow: 2px 3px 8px #888888;
  
}
.text-explantion h4{
  margin: 0 0 7px;
}
.explanation-title h2{
  padding-left: 15px;
  border-left: 5px solid #FF900E;
}
.f-image button{
  width: 180px;
  height: 100px;
  background-color: #FF900E;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: 700;
  position: relative;
  bottom: 50px;
}

.f-image button:hover{
  cursor: pointer;
}